select registration_id, table_name
from dbo.SDE_table_registry
where table_name like 'h%' 

SELECT distinct SDE_STATE_ID 
FROM dbo.a10
order by SDE_STATE_ID

SELECT COUNT(*)
FROM dbo.a10


SELECT distinct SDE_STATE_ID 
FROM dbo.a11
order by SDE_STATE_ID

SELECT COUNT(*)
FROM dbo.a11


SELECT distinct SDE_STATE_ID 
FROM dbo.a12
order by SDE_STATE_ID

SELECT COUNT(*)
FROM dbo.a12


SELECT distinct SDE_STATE_ID 
FROM dbo.a13
order by SDE_STATE_ID

SELECT COUNT(*)
FROM dbo.a13


SELECT distinct SDE_STATE_ID 
FROM dbo.a14
order by SDE_STATE_ID

SELECT COUNT(*)
FROM dbo.a14


SELECT distinct SDE_STATE_ID 
FROM dbo.a20
order by SDE_STATE_ID

SELECT COUNT(*)
FROM dbo.a20


SELECT distinct SDE_STATE_ID 
FROM dbo.a22
order by SDE_STATE_ID

SELECT COUNT(*)
FROM dbo.a22


SELECT distinct SDE_STATE_ID 
FROM dbo.D10
order by SDE_STATE_ID

SELECT COUNT(*)
FROM dbo.D10


SELECT distinct SDE_STATE_ID 
FROM dbo.D11
order by SDE_STATE_ID

SELECT COUNT(*)
FROM dbo.D11


SELECT distinct SDE_STATE_ID 
FROM dbo.D12
order by SDE_STATE_ID

SELECT COUNT(*)
FROM dbo.D12


SELECT distinct SDE_STATE_ID 
FROM dbo.D13
order by SDE_STATE_ID

SELECT COUNT(*)
FROM dbo.D13


SELECT distinct SDE_STATE_ID 
FROM dbo.D14
order by SDE_STATE_ID

SELECT COUNT(*)
FROM dbo.D14


SELECT distinct SDE_STATE_ID 
FROM dbo.D20
order by SDE_STATE_ID

SELECT COUNT(*)
FROM dbo.D20


SELECT distinct SDE_STATE_ID 
FROM dbo.D22
order by SDE_STATE_ID

SELECT COUNT(*)
FROM dbo.D22
